<div class="container" id="form_bg">
  <div class="container">
    <div class="row" id="form_login">
      <div>
        <h1 class="wlbl">Промяна на парола</h1>
      </div>
      <div>
        <form class="form" name="form" ng-submit="vm.changePassword(form)" novalidate>

          <div class="form-group">
            <label class="wlbl" class="wlbl">Текуща парола</label>

            <input type="password" name="password" class="form-control" ng-model="vm.user.oldPassword"
                   mongoose-error/>
            <p class="help-block" ng-show="form.password.$error.mongoose">
                {{ vm.errors.other }}
            </p>
          </div>

          <div class="form-group">
            <label class="wlbl" class="wlbl">Нова парола</label>

            <input type="password" name="newPassword" class="form-control" ng-model="vm.user.newPassword"
                   ng-minlength="3"
                   required/>
            <p class="help-block"
               ng-show="(form.newPassword.$error.minlength || form.newPassword.$error.required) && (form.newPassword.$dirty || vm.submitted)">
              Паролата трябва да съдържа поне 3 символа
            </p>
          </div>

          <div class="form-group">
            <label class="wlbl" class="wlbl">Потвърдете новата парола</label>

            <input type="password" name="confirmPassword" class="form-control" ng-model="vm.user.confirmPassword"
                   match="vm.user.newPassword"
                   ng-minlength="3"
                   required=""/>
            <p class="help-block"
               ng-show="form.confirmPassword.$error.match && vm.submitted">
              Паролите трябва да съвпадат
            </p>

          </div>

          <p class="help-block"> {{ vm.message }} </p>

          <button class="btn btn-lg btn-primary" type="submit">Запази промените</button>
        </form>
      </div>
    </div>
  </div>
</div>
