
#form_login{
padding: 5%;
  margin: auto;
}

#login_center{
  text-align: center;
}

#form_bg{
  background: url("/assets/images/background-login2.jpg") no-repeat center center;
  background-size: cover;
  width: 100%;
  margin-top: -20px;
}

.wlbl{
  color:white;
}
