.roombox{
  border: 1px solid #B5B3B3;
  background-color: #F3F2F2;
  margin-bottom: 2rem;
  padding: 0.5rem;
  position: relative;
  z-index: 1;
  height: auto;
}

.roomboxheader{
  padding: .5rem;
  background-color: #f7f7f7;
  margin-bottom: 1rem;
}

.roomboxfont h2{
  font-size: 1.5rem;
    margin-top: 0;
    margin-bottom: .2rem;
}

.roombox-image{
  position: absolute;
  left: .5rem;
  top: .5rem;
  padding-right: 1rem!important;
}

.img-holder{
  border-right: 1px solid;
    padding: 12px;
    width: 100%;
}

.boximg{
    margin-left: -21px;

}

.room-title{

}

.boxdetails{

}

.pricedetails{
  text-align: center;
  border-top: 1px solid;
  margin-top: 8%;
  font-size: x-large;
  border-color: #DADADA;
  padding-top: 19px;
}
