.thing-form {
  margin: 20px 0;
}

#banner2 {
  border-bottom: none;
  margin-top: -20px;
  min-height: 400px;
}

#banner h1 {
  font-size: 60px;
  line-height: 1;
  letter-spacing: -1px;
  font-family: 'Bad Script', cursive;

}

.main-unit {
  position: relative;
  padding: 30px 15px;
  color: #F5F5F5;
  text-align: center;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
  background: url("/assets/images/background-login2.jpg") no-repeat center center;
  background-size: cover;
  margin-top: -20px;
  min-height: 860px;
}

.navbar-text {
  margin-left: 15px;
}
