<div class="main-unit" id="banner">
  <div class="container">
    <h1>Квартира</h1>
    <p class="lead">Намери своята квартира днес!</p>
    <p class="tr-button">
      <button type="button" class="btn btn-primary" ui-sref='kvartiri'>Всички квартири</button>
      <button type="button" class="btn btn-default btn-transparent">Добави нова</button>
    </p>
    <div class="row col-md-6 col-md-offset-3" id="kv-search" >
      <div class="input-group">
    <input type="text" class="form-control" placeholder="Квартира в град...">
    <span class="input-group-btn">
      <button class="btn btn-secondary" type="button" ui-sref="kvartiri">Търси</button>
    </span>
  </div>
    </div>
        <div>

        <button ng-click="toggle()">Show user</button>

        <p ng-show="myVar">
        First Name: <input type=text ng-model="name"><br>
        Full Name: {{name}}
        </p>

        </div>
  </div>
</div>
